requests>=2.31.0
urllib3>=2.0.7
numpy
pandas
langchain>=0.1.11
langchain-aws>=0.2.7
opensearch-py
requests-aws4auth
boto3>=1.34.18
google-api-python-client
beautifulsoup4
langchain-community
scikit-learn
tqdm
pytz
certifi>=2023.11.17
six>=1.16.0
python_dateutil>=2.8.2
setuptools>=68.0.0
langgraph