<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bedrock demo</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>

    <style>
      :root {
        --nav-bg: <%= NAV_BG %>;
        --chat-bubble-avatar-bg: <%= CHAT_BUBBLE_AVATAR_BG %>;
        --chat-bubble-avatar-logo-width: <%= CHAT_BUBBLE_AVATAR_LOGO_WIDTH %>;
      }
    </style>
  </body>
</html>
